.div1{
    height: 350; width: 200;
    background-color: cadetblue;
    padding: 10px;
    box-shadow: 10px 20px 10px gray;
    position: absolute;
    right:700px;
    bottom: 100px;
    rotate: -1;
    transform: rotate(-16deg);
}
img{
    height: 100px; width: 200px;
}
.div2{
    height: 350; width: 200;
    background-color: rgb(232, 22, 158);
    padding: 10px;
    box-shadow: 10px 20px 10px gray;
    position: absolute;
    right:500 ; bottom:100px;
    transform: rotate(20deg);


}